body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

nav{
    background-color: #333;
    color: #fff;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .logo {
    font-size: 24px;
}

/* <------nav list style starts-------> */

.homepage-ul{
    display: flex;
    margin: 0;
}

.homepage-ul .homepage-li{
    list-style: none;
   
}

.homepage-ul .homepage-li a:hover{
    background-color: #fff;
    color: #333;
}


.homepage-ul .homepage-li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}

/* <------nav list style ends-------> */


.main-section{
    text-align: center;
    padding: 60px;
    background: #f4f4f4;
}
.main-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.products h2 {
text-align: center;
}

.products-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 2px solid white;
    padding: 10px;
}

.mission-section {
    background: #e9e9e9;
    padding: 50px;
    text-align: center;
    
}

.mission-section h2 {
    margin-bottom: 20px;
    font-size: 28px;
    
}

.mission-section p {
    font-size: 18px;
    margin-bottom: 20px;
}

.highlights {
    list-style: none;
    padding: 0;
}

.highlights li {
    margin: 10px 0;
    font-size: 16px;
}

.testimonials-section {
    padding: 50px;
    text-align: center;
    background: #f9f9f9;
   
    
}

.testimonials-section h2 {
    font-size: 28px;
    margin-bottom: 20px;

}
.testimonial-card {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 30%;
}

.product{
    height: 400px;
    width: 300px;
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.products {
    padding: 40px;
    background-color: #e9e9e9;
    text-align: center;
}
.addtoCart{
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}
.addtoCart:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
}
